body {

  font-size: 62.5%;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;

  background-color: beige;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 50px);
  /* Adjust this based on the height of your navbar */
}

button {

  padding: 0.5rem;
  background-color: burlywood;
  color: rgb(0, 0, 0);
  border: none;


  font-size: 1rem;
  cursor: pointer;
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.2rem;

}

.navbar>* {
  flex-grow: 1;
}